@font-face {
	font-family: 'Sex Pistols'; src: url('../fonts/SexPistols.ttf');
}
@font-face {
	font-family: 'Windows'; src: url('../fonts/Windows.ttf');
}

/* Customized fullPage.js navbar */
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #FFFFFF;
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
	background: transparent;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  box-sizing: border-box;
  border: 2px solid #FFFFFF;
}

a,
a:link,
a:hover,
a:active,
a:visited {
	display: block;
	text-decoration: none;
	color: white;
	margin-right: 42px;
}

i {
	position: absolute;
	bottom: 15px;
}

.section {
	text-align: center;
}

.section-1 {

}

.section-1 p {
	position: absolute;
	top: 0;
	margin-left: 25px;
	text-align: left;
	font-family: 'Windows';
	color: #09B10A;
	font-size: 216px;
}

.section-2 {

}

.section-3 {

}

.section-4 {
	background: url(../images/sex-pistols.jpg) no-repeat;
	background-size: cover;
}

.section-4 p {
	font-family: 'Sex Pistols';
	color: #FD44AE;
	mix-blend-mode: screen;
}

/* Only using pulse, so comibining CSS sheets. */
/*!
Animate.css - http://daneden.me/animate
Version - 3.4.0
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2015 Daniel Eden
*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}